<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="Styles/dashboard.css">
    <link rel="stylesheet" href="Styles/history.css">
    <link rel="stylesheet" href="Styles/navbar.css">
    <link rel="stylesheet" href="Styles/scrollbar.css">
    <title>Casino Stars</title>
</head>
<body>
    <nav>
        <div class="nav">
          <ul>
            <li><img src="images/logo.png" alt="" width="75"></li>
            <li><a href="/" class="">Dashboard</a></li>
            <li><a href="/games" class="">Games</a></li>
            <li><a href="/stat" class="">Statistics</a></li>
            <li><a href="/history" class="active">History</a></li>
            <li><a href="/admin" class="">Admin Panel</a></li>
            <%function getTotal() {
              let sum = 0
              inventory.forEach((num) => {
                sum+=num.profit
              })
              return sum
            }%>
            <li class="right">$<%=getTotal()%></li>
          </ul>
        </div>
      </nav>
    
    <h2 class="white-text header">History</h2>
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th>Profit</th>
          <th>Date Played</th>
        </tr>
      </thead>

      <% function dateFormat(date) {
        let week = 'Sunday Monday Tuesday Wednesday Thursday Friday Saturday';
        let newDate = new Date(date);
        return `${week.split(' ')[date.getDay()]}, ${date.getMonth() + 1}-${date.getDate()}-${date.getFullYear()}, ${(date.getHours() <= 12 ? (date.getHours() === 0 ? 12 : date.getHours()) : date.getHours() - 12) + ':' + String(date.getMinutes()).padStart(2, '0')} ${date.getHours() < 12 ? 'AM' : 'PM'}`;
      }; %>
      <% function profitCol(profit) {
        return (profit > 0 ? 'green' : 'red');
      }; %>
      <tbody>
        <% for (let i=0; i<inventory.length; i++) { %>
            <tr id="<%= inventory[i].game.toLowerCase() %>"> <!-- onclick="<%  %>"> | window.location='/<%= inventory[i].game.toLowerCase() %> '-->
                <td><%= inventory[i].game %></td>
                <td><div>
                  <span style="float: left;">$</span>
                  <span style="color: <%= profitCol(inventory[i].profit) %>;" id="profit"><%= inventory[i].profit %></span>
                </div></td>
                <td><%= dateFormat(inventory[i].date) %></td>
            </tr>
        <% }; %>
      </tbody>
    </table>

    <!-- Forms -->
    <form action="/" method="post" id="poker">
      <input type="hidden" name="numOfComputers" value="2">
      <input type="hidden" name="numOfDecks" value="1">
      <input type="hidden" name="game" value="Poker">
    </form>

    <form action="/" method="post" id="blackjack">
      <input id="players" type="hidden" name="numOfComputers" value="2">
      <input type="hidden" name="numOfDecks" value="1">
      <input type="hidden" name="game" value="bj">
    </form>

    <form action="/" method="post" id="baccarat">
      <input type="hidden" name="numOfComputers" value="2">
      <input type="hidden" name="numOfDecks" value="1">
      <input type="hidden" name="game" value="Baccarat">
    </form>

    <form action="/" method="post" id="roulette">
      <input type="hidden" name="game" value="Roulette">
    </form>

    <form action="/" method="post" id="slots">
      <input type="hidden" name="game" value="Slots">
    </form>

    <script src="Scripts/history.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>